@import 'settings';
@import 'foundation';
@include foundation-everything;

@import 'tone-generator';

.nav-items {
  margin-top: 1em;

  .nav-item {
    &.active {
      background-color: #aaa;
      color: #fff;
    }

    width: 100%;
  }
}

label {
  font-weight: bold !important;
}

body {
  font-family: Monospace;
}

h1 {
  font-family: Monospace;
}
