<div class="content-wrapper">

  <div class="content">
    {{#link-to 'tone-generator' class='pure-button nav-item'}}Tone Generator{{/link-to}}
    {{#link-to 'chord-builder' class='pure-button nav-item'}}Chord Builder{{/link-to}}
  </div>

  {{outlet}}
</div>
