<div class="top-bar">
  <div class="row nav-items">
    <div class="column medium-5 medium-centered">
      <div class="row">
        <div class="column medium-6">
          {{nav-item route='tone-generator' text='Tone Generator' class='button'}}
        </div>
        <div class="column medium-6">
          {{nav-item route='chord-builder' text='Chord Builder' class='button'}}
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
